@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --scheme-main: hsl(0, 0%, 100%);
    --scheme-main-bis: hsl(0, 0%, 98%);
    --scheme-main-ter: hsl(0, 0%, 96%);
    --background: hsl(0, 0%, 96%);
    --text: hsl(0, 0%, 4%);
    --text-light: hsl(0, 0%, 29%);
    --text-strong: hsl(0, 0%, 21%);
    --border: hsl(0, 0%, 86%);
    --primary: hsl(171, 100%, 41%);
    --primary-light: hsl(171, 100%, 96%);
    --taskcolumn-bg: var(--scheme-main-ter);
}

@media (prefers-color-scheme: dark) {
    :root {
        --scheme-main: hsl(0, 0%, 11%);
        --scheme-main-bis: hsl(0, 0%, 13%);
        --scheme-main-ter: hsl(0, 0%, 15%);
        --background: hsl(0, 0%, 14%);
        --text: hsl(0, 0%, 71%);
        --text-light: hsl(0, 0%, 60%);
        --text-strong: hsl(0, 0%, 93%);
        --border: hsl(0, 0%, 24%);
        --primary: hsl(171, 100%, 41%);
        --primary-light: hsl(171, 100%, 15%);
        --taskcolumn-bg: var(--scheme-main-bis);
    }
}

[data-theme="dark"],
.theme-dark,
.is-dark-mode {
    --scheme-main: hsl(0, 0%, 11%);
    --scheme-main-bis: hsl(0, 0%, 13%);
    --scheme-main-ter: hsl(0, 0%, 15%);
    --background: hsl(0, 0%, 14%);
    --text: hsl(0, 0%, 71%);
    --text-light: hsl(0, 0%, 60%);
    --text-strong: hsl(0, 0%, 93%);
    --border: hsl(0, 0%, 24%);
    --primary: hsl(171, 100%, 41%);
    --primary-light: hsl(171, 100%, 15%);
    --taskcolumn-bg: var(--scheme-main-bis);
    --bulma-label-color: hsl(0, 0%, 71%);
}

[data-theme="light"],
.theme-light {
    --scheme-main: hsl(0, 0%, 100%);
    --scheme-main-bis: hsl(0, 0%, 98%);
    --scheme-main-ter: hsl(0, 0%, 96%);
    --background: hsl(0, 0%, 96%);
    --text: hsl(0, 0%, 4%);
    --text-light: hsl(0, 0%, 29%);
    --text-strong: hsl(0, 0%, 21%);
    --border: hsl(0, 0%, 86%);
    --primary: hsl(171, 100%, 41%);
    --primary-light: hsl(171, 100%, 96%);
    --taskcolumn-bg: var(--scheme-main-ter);
    --bulma-label-color: hsl(0, 0%, 29%);
}

.taskSuper {
    overflow: auto;
    height: 100%;
    display: flex !important;
    flex-grow: 1;
    flex-direction: column;
    margin: 0px;
    gap: 10px;
}

.taskColumn {
    min-width: 350px;
    min-height: 800px;
    text-align: center;
    background-color: var(--taskcolumn-bg);
    border-radius: 20px;
    overflow: auto;
}

.modal-card-foot{
    justify-content: end;
}

.buttons {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    padding-right: 20px;
}

body {
    overflow: hidden;
    background-color: var(--scheme-main);
    color: var(--text);
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > .container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 30px;
    padding: 20px !important;
    padding-top: 10px !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}

.box {
    background-color: var(--scheme-main-bis);
}

.title {
    color: var(--text-strong);
}

h1{
    padding-top: 1px;
}

.subtitle {
    color: var(--text-light);
}

.button {
    background-color: var(--scheme-main-ter);
    border-color: var(--border);
    color: var(--text);
}

.button.is-primary {
    background-color: var(--primary);
    color: #fff;
}

#newTaskMini {
    display: flex;
    font-size: 20px;
    border-radius: 30px;
}
#newTask {
    display: none;
    border-radius: 30px;
}


@media ((min-width: 768px) and (max-width: 1023px)){
    .taskSuper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: flex-start;
    }
    .taskColumn {
        min-width: 250px;
        min-height: 500px;
    }
}

@media (max-width: 767px){
    body > .container {
        margin: 0px !important;
        border-radius: 0px;
    }
}

@media (min-width: 1024px){
    .container{
        height: 100%;
    }
    .taskSuper {
        flex-direction: row;
    }
    #newTask{
        display: flex !important;
    }
    #newTaskMini{
        display: none !important;
    }
}

.has-background-primary-light{
    background-color: var(--bulma-scheme-h) !important;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
#header > p{
    margin: 0px;
}

.delete-task-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}
.card.task {
    position: relative;
}
